.deps/
.idea/
autom4te.cache/
Examples/.deps
Examples/Makefile.in
Examples/example1
Examples/example2
Examples/example3
Examples/example4
Examples/example5
Examples/example6
Examples/example7
Examples/example8
Examples/example9
Examples/example10
Examples/example11
Examples/example12
Examples/example13
Examples/example14
Examples/example15
Examples/example16
Examples/example17
Examples/insertion_sort
*.o
arm_simulator
memory_test
registers_test
send_irq
config.log
config.h
config.status
Makefile
trace.txt
run.log
commands.gdb
configure~
*.in
stamp-h1
aclocal.m4